DATABASE_URL=mysql://root:@127.0.0.1:3306/casestudy
instance_url=null
secret=ThisTokenIsNotSoSecretChangeIt
mailer_recipient=null
APP_ENV=null
APP_SECRET=null

MAILER_URL=null://localhost
mailer_user=null
