{% set requestRoute = app.request.attributes.get('_route') %}
{% set ADMIN_USER =  (app.user and is_granted('ROLE_ADMIN')) %}
{% set EMPLOYEE_USER =  (app.user and is_granted('ROLE_EMPLOYEE')) %}

<div id="sidebar-menu" class="sidebar-menu">
    <ul>
        <li>
            <a class=" {% if (requestRoute in [ 'office_list']) %}active {% endif %}"
               href="{{ path('office_list') }}">
                <i class="la la-sitemap m-r-5"></i>
                <span class="hide-menu">Offices</span>
            </a>
        </li>
        {% if EMPLOYEE_USER and not ADMIN_USER %}
            <li>
                <a class=" {% if (requestRoute in [ 'view_current_office']) %}active {% endif %}"
                   href="{{ path('view_current_office') }}">
                    <i class="la la-sitemap m-r-5"></i>
                    <span class="hide-menu">Current Office</span>
                </a>
            </li>
        {% endif %}
        {% if ADMIN_USER %}
            <li>
                <a class=" {% if (requestRoute in [ 'user_index']) %}active {% endif %}"
                   href="{{ path('user_index') }}">
                    <i class="la la-sitemap m-r-5"></i>
                    <span class="hide-menu">Employees list</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>