<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="//www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Tech Mahindra</title>
    {% block styleSheets %}
    {% endblock %}
</head>
<body style="width:100% !important;min-width:50%;-webkit-text-size-adjust:50%;-ms-text-size-adjust:50%;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;direction:ltr;background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
<table class="body"
       style="border-spacing:0;border-collapse:collapse;vertical-align:top;height:100%;width:100%;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;">
    <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;">
        <td class="center" align="center" valign="top"
            style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-bottom:0;margin-right:0;margin-left:0;font-size:14px;line-height:19px;text-align:center;">
            <!-- BEGIN: Content -->
            <table class="container content" align="center"
                   style="border-spacing:0;border-collapse:collapse;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:80%;margin-bottom:0;margin-right:auto;margin-left:auto;text-align:inherit;background: #fff;">
                <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;width:100%;">
                    <td style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;width:100%;vertical-align:top;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;padding: 10px 30px !important;">
                        <table class="row note"
                               style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;width:100%;position:relative;">
                            <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;">
                                <td class="vertical-middle"
                                    style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-right:0;padding-left:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;padding-top:0;padding-bottom:0;vertical-align:middle;">
                                </td>
                            </tr>
                            {% block content %}

                            {% endblock %}
                        </table>
                    </td>
                </tr>
            </table>
            <!-- END: Content -->
        </td>
    </tr>
</table>
</body>
</html>